* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* NAVBAR START */
/* NAVBAR END */

/* MAIN START */

/* index start  */

/* index end */

/* about start */

/* about end */

/* weeks start */
#week-main{
  text-align: center;
  background-color: #eeee;
  padding:5rem;
  
  
}

#top{
  display: flex;
  justify-content: center;
}

.top-sections{
  background-color:#D9D9D9 ;
  margin:1rem;
  width:50%;
}

.practiceHtmlCss{
  background-color: #D9D9D9;
  margin: 1rem;

}

/* weeks end */

/* MAIN END */

/* FOOTER START */

/* FOOTER END */
