.main {
  display: grid;
  gap: 0.5rem;
  background-image: url('img/indexBaground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100vh;
  margin: 0;
}


.week {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.week1Img {
  justify-self: center;
  align-self: center;
}

.week2Img {
  justify-self: center;
  align-self: center;
}

.week button {
  justify-self: center;
  display: block;
  margin:  0 auto;
  margin-top: 1rem;
  padding: 1rem;
  cursor:pointer;
  text-decoration: none;
  border-radius: 15px;
  font-size:20px;
  border-style: none;
}

.week > .week1Img > img {
  display: block;
  width: 60%;
  height: 60%;
  
  object-fit: cover;
  margin: 0 auto;
}

.week > .week2Img > img {
  display: block;
  width: 60%;
  height: 60%;
  object-fit: cover;
  margin: 0 auto;
}

.descriptionWeek {
  display: grid;
}

.descriptText {
  color: rgb(3, 38, 69);
  background-color: beige;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 25px;
}

.descriptWeek1, .descriptWeek2 {
  justify-self: center;
  align-self: center;
}

.descriptionWeek > p {
  padding: 1rem;
}

.advertisement {
  width: 70%;
  height: 70%;
  background-color: antiquewhite;
  border-radius: 25px;
  justify-self: center;
  align-self: center;
}