* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* NAVBAR START */
/* NAVBAR END */

/* MAIN START */

/* index start  */

/* index end */

/* about start */

/* about end */

/* weeks start */

/* weeks end */

/* MAIN END */

/* FOOTER START */

/* FOOTER END */
