
.main {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.472);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.4);
}

.square {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote h3 {
    margin: 5px;
    padding: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
    text-shadow: 0px 3px 5px #0596f7;
}

.picture {
    display: flex;
    width: max-content;
    height: max-content;
    background-color: transparent;
    
}

.picture img {
    background-image: url(./resources/dpbackground.png);
    margin: 10px;
    padding: 20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    background-size: 255px;
    background-position-x: -54px;
    background-position-y: -39px;
    background-color: transparent;
    box-shadow: 0px 0px 30px 2px #0596f7;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2px;
    margin: 2px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.alumni {
    background-image: url(./resources/smallbackground.png);
    margin-bottom: 10px;
    padding: 5px;
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
}

.description p {
    margin: 5px;
    padding: 10px;
    border: solid black;
    border-radius: 25px;

}